{
    "openapi": "3.1.0",
    "info": {
        "title": "Connect API",
        "version": "2.0",
        "summary": "BML Connect API",
        "description": "Allows developers to build solutions on top of BML MPOS",
        "contact": {
            "name": "Bank of Maldives",
            "url": "https://www.bankofmaldives.com.mv/merchant-portal-mpos",
            "email": "3330200"
        },
        "termsOfService": "https://www.bankofmaldives.com.mv/merchant-portal-mpos"
    },
    "servers": [
        {
            "url": "https://api.merchants.bankofmaldives.com.mv",
            "description": "PRODUCTION"
        },
        {
            "description": "DEVELOPMENT",
            "url": "https://api.uat.merchants.bankofmaldives.com.mv"
        }
    ],
    "tags": [
        {
            "name": "Categories"
        },
        {
            "name": "Company"
        },
        {
            "name": "Custom Fees"
        },
        {
            "name": "Order Fields"
        },
        {
            "name": "Products"
        },
        {
            "name": "Shops"
        },
        {
            "name": "Taxes"
        },
        {
            "name": "Transactions"
        },
        {
            "name": "Webhooks"
        }
    ],
    "paths": {
        "/public/me": {
            "get": {
                "summary": "Get Company",
                "tags": [
                    "Company"
                ],
                "operationId": "get-public-me",
                "description": "Returns a merchant's account details on BML MPOS",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Company"
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": [
                                            {
                                                "id": "5df00bbd8f0931da1d096769",
                                                "created": "2019-12-10T21:18:53.397Z",
                                                "tradingName": "Pomelo Test Ltd",
                                                "registeredName": "Pomelo Limited & Sons",
                                                "enabledCurrencies": [
                                                    "GBP"
                                                ],
                                                "reviewStatus": "verified",
                                                "companyNumber": "AAAA-48320-22",
                                                "vatNumber": "GB123456789",
                                                "tradingAddress": {
                                                    "building_number": "156",
                                                    "building_name": "Landsdown House",
                                                    "street": "Parkway Avenue",
                                                    "town": "Chelsea",
                                                    "postcode": "SW3 4HD",
                                                    "country": "GBR"
                                                },
                                                "registeredAddress": {
                                                    "building_number": "156",
                                                    "building_name": "Landsdown House",
                                                    "street": "Parkway Avenue",
                                                    "town": "Chelsea",
                                                    "postcode": "SW3 4HD",
                                                    "country": "GBR"
                                                },
                                                "country": "GB",
                                                "paymentProviders": [
                                                    {
                                                        "ecommerce": true,
                                                        "mobile": true,
                                                        "description": "Accept Apple and Google Pay",
                                                        "customerDescription": "Pay with your mobile wallet",
                                                        "value": "card",
                                                        "shopBadge": "https://res.cloudinary.com/bankofmaldives/image/upload/5fcc844930ccd835938957.png"
                                                    },
                                                    {
                                                        "ecommerce": false,
                                                        "mobile": true,
                                                        "description": "Alipay",
                                                        "customerDescription": "Alipay",
                                                        "value": "alipay",
                                                        "shopBadge": "https://res.cloudinary.com/bankofmaldives/image/upload/null"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/public/webhooks": {
            "parameters": [],
            "post": {
                "summary": "Create Webhook",
                "operationId": "post-public-webhooks",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Webhook"
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "created": "2021-06-23T05:40:36.858Z",
                                            "updated": "2021-06-23T05:40:36.858Z",
                                            "companyId": "5df00bbd8f0931da1d096769",
                                            "hookUrl": "https://darby.net",
                                            "id": "60d2c9544b33930009a6caf7"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "type": "object",
                                "x-examples": {
                                    "example-1": {
                                        "hookUrl": "string"
                                    }
                                },
                                "properties": {
                                    "hookUrl": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "A URL where you'd like to be notified for any update"
                                    }
                                },
                                "required": [
                                    "hookUrl"
                                ]
                            }
                        }
                    }
                },
                "description": "Creates a webhook on BML MPOS with provided webhook URL, where you can get a notification for any update.",
                "tags": [
                    "Webhooks"
                ]
            },
            "delete": {
                "summary": "Delete Webhook",
                "operationId": "delete-public-webhooks",
                "responses": {
                    "204": {
                        "description": "Status to confirm deletion of webhook"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "x-examples": {
                                        "example-1": {
                                            "message": "Resource not found",
                                            "code": "PP-G-404"
                                        }
                                    },
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "minLength": 1,
                                            "description": "Message explaining the cause of error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "minLength": 1,
                                            "description": "Error code on BML MPOS"
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "code"
                                    ]
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "message": "Resource not found",
                                            "code": "PP-G-404"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "This API allows you to delete webhook that you have created by just passing the URL of webhook that you passed while creating the webhook",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "type": "object",
                                "x-examples": {
                                    "example-1": {
                                        "hookUrl": "{{hookUrl}}"
                                    }
                                },
                                "properties": {
                                    "hookUrl": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "The URL used to created the webhook"
                                    }
                                },
                                "required": [
                                    "hookUrl"
                                ]
                            }
                        }
                    },
                    "description": ""
                },
                "tags": [
                    "Webhooks"
                ]
            }
        },
        "/public/shops": {
            "get": {
                "summary": "Get Shops",
                "tags": [
                    "Shops"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "x-examples": {
                                        "example-1": {
                                            "items": [
                                                {
                                                    "id": "60d2b403db100b00098cd7ce",
                                                    "created": "2021-06-23T04:09:39.355Z",
                                                    "updated": "2021-06-23T04:39:07.853Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d2b403db100b00098cd7c2",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d2b403db100b00098cd7c3",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d2b403db100b00098cd7c4",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d2b403db100b00098cd7c5",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "taxes": [
                                                            {
                                                                "id": "60d2baeb0fdbd800082e6f2a",
                                                                "name": "VAT",
                                                                "code": "VAT",
                                                                "percentage": 20,
                                                                "applyOn": "PRODUCT"
                                                            }
                                                        ],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d2b403db100b00098cd7ce"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 3.42,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d2b403db100b00098cd7cf"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [
                                                        {
                                                            "id": "60d2b819731b6800092ec248",
                                                            "name": "Nature Donation",
                                                            "description": "A fee to power mother nature",
                                                            "fee": 220,
                                                            "slug": "Nature-Donation",
                                                            "rules": {
                                                                "greater": true,
                                                                "ruleQuantity": 25
                                                            }
                                                        }
                                                    ],
                                                    "productCount": 1
                                                },
                                                {
                                                    "id": "60d2a3367296fa00089fe3fa",
                                                    "created": "2021-06-23T02:57:58.049Z",
                                                    "updated": "2021-06-23T03:06:27.345Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d2a3367296fa00089fe3ee",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d2a3367296fa00089fe3ef",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d2a3367296fa00089fe3f0",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d2a3367296fa00089fe3f1",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "taxes": [],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d2a3367296fa00089fe3fa"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 3.42,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d2a3367296fa00089fe3fb"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "60d2a3037296fa00089fe3ec",
                                                    "created": "2021-06-23T02:57:07.515Z",
                                                    "updated": "2021-06-23T03:01:34.954Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d2a3037296fa00089fe3e0",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d2a3037296fa00089fe3e1",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d2a3037296fa00089fe3e2",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d2a3037296fa00089fe3e3",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "taxes": [],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d2a3037296fa00089fe3ec"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 3.42,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d2a3037296fa00089fe3ed"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "60d2a21a7296fa00089fe3de",
                                                    "created": "2021-06-23T02:53:14.025Z",
                                                    "updated": "2021-06-23T02:56:34.975Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d2a21a7296fa00089fe3d2",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d2a21a7296fa00089fe3d3",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d2a21a7296fa00089fe3d4",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d2a21a7296fa00089fe3d5",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "taxes": [],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d2a21a7296fa00089fe3de"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 3.42,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d2a21a7296fa00089fe3df"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 2
                                                },
                                                {
                                                    "id": "60d2944d0907670008e65c9b",
                                                    "created": "2021-06-23T01:54:21.370Z",
                                                    "updated": "2021-06-23T02:01:27.330Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d2944d0907670008e65c8f",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d2944d0907670008e65c90",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d2944d0907670008e65c91",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d2944d0907670008e65c92",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "taxes": [],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d2944d0907670008e65c9b"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 2.32,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d2944d0907670008e65c9c"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "60d2943c0907670008e65c8d",
                                                    "created": "2021-06-23T01:54:04.137Z",
                                                    "updated": "2021-06-23T02:52:46.711Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d2943c0907670008e65c81",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d2943c0907670008e65c82",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d2943c0907670008e65c83",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d2943c0907670008e65c84",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "id": "60d2944ee407600009911db3",
                                                                "label": "Table",
                                                                "checked": true,
                                                                "type": "text",
                                                                "canDelete": true
                                                            },
                                                            {
                                                                "id": "60d2965fa1fe1a00091f67ed",
                                                                "label": "Table",
                                                                "checked": true,
                                                                "type": "text",
                                                                "canDelete": true
                                                            },
                                                            {
                                                                "id": "60d29ebd3d8525000851e303",
                                                                "label": "Table",
                                                                "checked": true,
                                                                "type": "text",
                                                                "canDelete": true
                                                            },
                                                            {
                                                                "id": "60d29f423d8525000851e305",
                                                                "label": "Table",
                                                                "checked": false,
                                                                "type": "text",
                                                                "canDelete": true
                                                            }
                                                        ],
                                                        "taxes": [
                                                            {
                                                                "id": "60d2946019b04200097e58b0",
                                                                "name": "Tourist Tax",
                                                                "code": "Tourist-Tax",
                                                                "percentage": 44.44,
                                                                "applyOn": "PRODUCT"
                                                            }
                                                        ],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d2943c0907670008e65c8d"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 2.32,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d2943c0907670008e65c8e",
                                                        "60d29ef14968c80008997dec"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [
                                                        {
                                                            "id": "60d2945236dbfa0009fbcbeb",
                                                            "name": "Nature Donation",
                                                            "description": "A fee to power mother nature",
                                                            "fee": 100,
                                                            "slug": "Nature-Donation",
                                                            "rules": null
                                                        },
                                                        {
                                                            "id": "60d29e351f85d000081af792",
                                                            "name": "Nature Donation",
                                                            "description": "A fee to power mother nature",
                                                            "fee": 100,
                                                            "slug": "Nature-Donation",
                                                            "rules": null
                                                        },
                                                        {
                                                            "id": "60d29e771f85d000081af793",
                                                            "name": "Nature Donation",
                                                            "description": "A fee to power mother nature",
                                                            "fee": 100,
                                                            "slug": "Nature-Donation",
                                                            "rules": null
                                                        }
                                                    ],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "60d2209a5247d00008b1737f",
                                                    "created": "2021-06-22T17:40:42.874Z",
                                                    "updated": "2021-06-22T18:21:27.590Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d2209a5247d00008b17373",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d2209a5247d00008b17374",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d2209a5247d00008b17375",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d2209a5247d00008b17376",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "id": "60d220a99269490008bc05cc",
                                                                "label": "Table",
                                                                "checked": true,
                                                                "type": "text",
                                                                "canDelete": true
                                                            }
                                                        ],
                                                        "taxes": [
                                                            {
                                                                "id": "60d220b662a71c00087f1476",
                                                                "name": "Tourist Tax",
                                                                "code": "Tourist-Tax",
                                                                "percentage": 44.44,
                                                                "applyOn": "PRODUCT"
                                                            }
                                                        ],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d2209a5247d00008b1737f"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 2.32,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d2209a5247d00008b17380"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [
                                                        {
                                                            "id": "60d220aa3b734600080aa132",
                                                            "name": "Nature Donation",
                                                            "description": "A fee to power mother nature",
                                                            "fee": 100,
                                                            "slug": "Nature-Donation",
                                                            "rules": null
                                                        }
                                                    ],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "60d220415247d00008b17371",
                                                    "created": "2021-06-22T17:39:13.221Z",
                                                    "updated": "2021-06-22T18:16:27.745Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d220415247d00008b17365",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d220415247d00008b17366",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d220415247d00008b17367",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d220415247d00008b17368",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "id": "60d220539269490008bc05cb",
                                                                "label": "Table",
                                                                "checked": true,
                                                                "type": "text",
                                                                "canDelete": true
                                                            }
                                                        ],
                                                        "taxes": [],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d220415247d00008b17371"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 2.32,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d220415247d00008b17372"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 1
                                                },
                                                {
                                                    "id": "60d21e3c5d47b500096ac9ee",
                                                    "created": "2021-06-22T17:30:36.339Z",
                                                    "updated": "2021-06-22T17:38:43.705Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d21e3c5d47b500096ac9e2",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d21e3c5d47b500096ac9e3",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d21e3c5d47b500096ac9e4",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d21e3c5d47b500096ac9e5",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "id": "60d21f109269490008bc05c9",
                                                                "label": "Table",
                                                                "checked": true,
                                                                "type": "text",
                                                                "canDelete": true
                                                            },
                                                            {
                                                                "id": "60d21f219269490008bc05ca",
                                                                "label": "Table",
                                                                "checked": true,
                                                                "type": "text",
                                                                "canDelete": true
                                                            }
                                                        ],
                                                        "taxes": [
                                                            {
                                                                "id": "60d2202362a71c00087f1475",
                                                                "name": "Tourist Tax",
                                                                "code": "Tourist-Tax",
                                                                "percentage": 44.44,
                                                                "applyOn": "PRODUCT"
                                                            }
                                                        ],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d21e3c5d47b500096ac9ee"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 2.32,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d21e3c5d47b500096ac9ef"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [
                                                        {
                                                            "id": "60d21f923b734600080aa130",
                                                            "name": "Nature Donation",
                                                            "description": "A fee to power mother nature",
                                                            "fee": 100,
                                                            "slug": "Nature-Donation",
                                                            "rules": null
                                                        },
                                                        {
                                                            "id": "60d21fb93b734600080aa131",
                                                            "name": "Nature Donation",
                                                            "description": "A fee to power mother nature",
                                                            "fee": 220,
                                                            "slug": "Nature-Donation",
                                                            "rules": {
                                                                "greater": true,
                                                                "ruleQuantity": 25
                                                            }
                                                        }
                                                    ],
                                                    "productCount": 2
                                                },
                                                {
                                                    "id": "60d21a95a284330008553b53",
                                                    "created": "2021-06-22T17:15:01.478Z",
                                                    "updated": "2021-06-22T17:16:35.659Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60d21a95a284330008553b47",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60d21a95a284330008553b48",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60d21a95a284330008553b49",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60d21a95a284330008553b4a",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "taxes": [],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60d21a95a284330008553b53"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 2.32,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60d21a95a284330008553b54"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "60cf685588829e00099896df",
                                                    "created": "2021-06-20T16:09:57.516Z",
                                                    "updated": "2021-06-20T16:11:34.891Z",
                                                    "deleted": false,
                                                    "name": "Testcreate2FromApi",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60cf685588829e00099896d3",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60cf685588829e00099896d4",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60cf685588829e00099896d5",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60cf685588829e00099896d6",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "taxes": [],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60cf685588829e00099896df"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 2.32,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60cf685588829e00099896e0"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "60cf66818b36080008b4a7c4",
                                                    "created": "2021-06-20T16:02:09.578Z",
                                                    "updated": "2021-06-20T16:06:35.038Z",
                                                    "deleted": false,
                                                    "name": "Testcreate from web",
                                                    "reference": null,
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60cf66818b36080008b4a7c0",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60cf66818b36080008b4a7c1",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60cf66818b36080008b4a7c2",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60cf66818b36080008b4a7c3",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "orderMessage": "",
                                                        "taxes": [],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "CLOSED",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60cf66818b36080008b4a7c4"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 0,
                                                    "publishedChannels": [],
                                                    "categoryOrder": [
                                                        "60cf66818b36080008b4a7c5"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "60cf65a046f6f2000a27f127",
                                                    "created": "2021-06-20T15:58:24.366Z",
                                                    "updated": "2021-06-20T16:01:35.117Z",
                                                    "deleted": false,
                                                    "name": "Testcreate",
                                                    "reference": "My reference",
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderMessage": "Thank you for your order",
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Name",
                                                                "id": "60cf65a046f6f2000a27f11b",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Email",
                                                                "id": "60cf65a046f6f2000a27f11c",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "60cf65a046f6f2000a27f11d",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "60cf65a046f6f2000a27f11e",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "taxes": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/60cf65a046f6f2000a27f127"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 2.32,
                                                    "publishedChannels": [
                                                        "MOBILE",
                                                        "WEB"
                                                    ],
                                                    "categoryOrder": [
                                                        "60cf65a046f6f2000a27f128"
                                                    ],
                                                    "showUnpaidOrders": false,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [],
                                                    "productCount": 0
                                                },
                                                {
                                                    "id": "609139c4ab8ce30008338707",
                                                    "created": "2021-05-04T12:10:44.532Z",
                                                    "updated": "2021-06-09T10:52:07.448Z",
                                                    "deleted": false,
                                                    "name": "Smart Caffe",
                                                    "reference": null,
                                                    "address1": null,
                                                    "address2": null,
                                                    "postalCode": null,
                                                    "city": null,
                                                    "settings": {
                                                        "orderFields": [
                                                            {
                                                                "canDelete": false,
                                                                "checked": true,
                                                                "label": "Name",
                                                                "id": "609139c4ab8ce30008338703",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": true,
                                                                "label": "Email",
                                                                "id": "609139c4ab8ce30008338704",
                                                                "type": "email"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Address",
                                                                "id": "609139c4ab8ce30008338705",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "canDelete": false,
                                                                "checked": false,
                                                                "label": "Mobile Number",
                                                                "id": "609139c4ab8ce30008338706",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "orderMessage": "",
                                                        "taxes": [
                                                            {
                                                                "id": "60c09cf7c8e2640009560913",
                                                                "name": "New tax",
                                                                "code": "New-tax",
                                                                "percentage": 10,
                                                                "applyOn": "PRODUCT"
                                                            }
                                                        ],
                                                        "palette": {
                                                            "banner": ""
                                                        }
                                                    },
                                                    "images": [],
                                                    "companyId": "5df00bbd8f0931da1d096769",
                                                    "status": "OPEN",
                                                    "qr": {
                                                        "url": "https://checkout.dev.pomelopay.com/609139c4ab8ce30008338707"
                                                    },
                                                    "basketEnabled": true,
                                                    "serviceChargePercentage": 0,
                                                    "publishedChannels": [
                                                        "WEB",
                                                        "MOBILE"
                                                    ],
                                                    "categoryOrder": [
                                                        "609139c4ab8ce30008338708"
                                                    ],
                                                    "showUnpaidOrders": true,
                                                    "showPricesIncludingTaxes": true,
                                                    "activeCampaign": null,
                                                    "customFees": [
                                                        {
                                                            "name": "More than $5",
                                                            "description": "VAT",
                                                            "fee": 100,
                                                            "rules": {
                                                                "greater": true,
                                                                "rulePrice": 500
                                                            },
                                                            "slug": "More-than-dollar5"
                                                        }
                                                    ],
                                                    "productCount": 1
                                                },
                                                {
                                                    "id": "5fad50fe7e908900070e2b95",
                                                    "created": "2020-11-12T15:13:02.135Z",
                                                    "updated": "2021-06-22T09:14:41.962Z",
                                                    "deleted": false,
                                                    "name": "Yorks Cafe at Ikon Gallery",
                                                    "reference": "Ea qui ullamco sint enim consectetur tempor adipisicing velit consectetur dolor tempor anim occaecat ullamco.\n\nUllamco esse ullamco sunt culpa. Officia nulla exercitation reprehenderit magna aliquip adipisicing eiusmod cillum et nisi do cupidatat. Culpa occaecat consequat reprehenderit magna.\n",
                                                    "address1": "1 Oozells Square",
                                                    "address2": "Birmingham",
                                                    "postalCode": "B1 2HS",
                                                    "city": null,
                                                    "settings": {
[...]
